.prenav {
    background-color: #276746;
    height: 2em;
}

.session-head-pic {
    width: 100%;
    height: 60%;
    margin-top: -7%;
}

.nav-session {
    background-color: #276746;
    height: 5em;

}

.title {
    color: #276746;
    font-weight: bold;
}

.lindex{
    z-index: 28;
}

#navbar-top{
    z-index: 20;
}

.jump:before {
    content: "";
    display: block;
    padding-top: 6.5rem; /* header height + empty space */
    /*margin-top: -50px; /* header height to degrees padding’s space */
}
